[build]
  command = "npm install && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  command = "npm install && npm run build"
  publish = "dist"

[context.deploy-preview]
  command = "npm install && npm run build"
  publish = "dist"

[context.branch-deploy]
  command = "npm install && npm run build"
  publish = "dist"
